a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  border-radius: 8px;
}

.media {
  display: flex;

  img {
    width: 150px;
    border-radius: 6px;
  }

  .media-body {
    padding: 0.25rem 1rem;

    .media-title {
      margin-bottom: 0.25rem;
    }

    .media-description {
      color: #7c8087;
    }

    .media-info {
      color: #7c8087;
    }
  }
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .nav-item {
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 3px solid;
    border-color: #fff;
    transition: border-color 0.3s;
    margin: 0 0.5rem;
    position: relative;

    @include media-breakpoint-down(md) {
      padding: 12px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 8px 0;
    }

    .nav-link {
      padding-left: .75rem;
      padding-right: .75rem;

    }

    &:hover {
      border-color: map-get($theme-colors, "ahd-primary");

      .nav-link {
        color: map-get($theme-colors, "ahd-primary");
      }
    }

    &.active {
      border-color: map-get($theme-colors, "ahd-primary");

      .nav-link {
        color: map-get($theme-colors, "ahd-primary");
      }
    }
  }
}

.image-card {
  position: relative;

  img {
    border-radius: 8px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .card-body {
    padding: 16px;
    position: absolute;
    top: 0;
    flex-direction: column;
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    color: #fff;
    background-image: linear-gradient(to bottom, #1d293f00, #1d293f99);
    background-blend-mode: multiply;
    border-radius: 8px;

    .card-title {
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      margin-bottom: 0.75rem;
    }

    .description {
      font-size: 14px;
      line-height: 19px;
    }
  }
}