.ahd-header {
  .info-header {
    background-color: map-get($theme-colors, "ahd-primary");
    padding: 10px 0;
    a {
      color: #fff;
      font-size: 18px;
      line-height: 23px;
    }
  }
  .ahd-navbar {
    .nav-brand {
      img {
        width: 102px;
      }
    }
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      .nav-item {
        padding: 22px 0;
        box-sizing: border-box;
        border-bottom: 3px solid;
        border-color: #fff;
        transition: border-color 0.3s;
        margin: 0 0.5rem;
        position: relative;
        @include media-breakpoint-down(md) {
          padding: 12px 0;
        }
        @include media-breakpoint-down(sm) {
          padding: 8px 0;
        }
        .dropdown-menu {
          position: absolute;
          top: 100px;
          @include media-breakpoint-down(md) {
            top: 80px;
          }
          @include media-breakpoint-down(sm) {
            top: 60px;
          }
        }
        .nav-link {
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          @include media-breakpoint-down(md) {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
          }
          .fa-chevron-down {
            transition: transform 0.3s;
            font-size: 14px;
          }
        }
        &:hover {
          border-color: map-get($theme-colors, "ahd-primary");
          .nav-link {
            .fa-chevron-down {
              transform: rotate(180deg);
            }
          }
          .dropdown-menu {
            display: block;
          }
        }
      }
      .fa-search {
        cursor: pointer;
        &:hover {
          color: map-get($theme-colors, "ahd-blue");
        }
      }
      .btn-login {
        padding: 12px 20px;
        background-color: #fff;
        border-radius: 5px;
        line-height: 26px;
        @include media-breakpoint-down(md) {
          padding: 12px;
        }
        &:hover {
          background-color: #f2f2f2;
          color: map-get($theme-colors, "ahd-blue");
        }
      }
    }
  }
}
