.page-department {
    position: relative;

    .department-banner {
        background: url('../images/list-depart-1.png') no-repeat;
        width: 100%;
        aspect-ratio: 16/9;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;

        .linear {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 25%;
            background-image: linear-gradient(to top, #1d293f, rgba(66, 76, 94, 0.75) 41%, rgba(104, 112, 126, 0));
        }

        .hr-img {
            width: 150px;
            margin-bottom: 3rem;
        }

        .project-title {
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .department-name {
            color: #fff;
            font-weight: 500;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 15%;
            padding-bottom: 15%;
        }

        @include media-breakpoint-down(md) {
            padding-top: 0;

            .hr-img {
                width: 120px;
                margin-bottom: 1.5rem;
            }
        }
    }

    .department-carousel {
        padding-top: 65px;
        padding-bottom: 96px;

        .carousel-title {
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.17px;
            margin-bottom: 1.5rem;
        }

        .carousel-subtitle {
            margin-bottom: 3rem;
        }

        .carousel {
            margin-left: -.5rem;
            margin-right: -.5rem;
        }
    }

    .department-description {
        padding: 120px 0;
        background: #1d293f;

        .slogan {
            color: #fff;
            margin-bottom: 1rem;
        }

        .department-info {
            color: #fff;
            max-width: 60%;
            margin: auto;
            margin-bottom: 2rem;
        }

        button {
            color: #fff;
            padding: 16px 48px;
        }

        .department-image {
            margin-top: 5rem;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            .card-body {
                background-image: linear-gradient(to top, #1d293f, rgba(66, 76, 94, 0.75) 41%, rgba(104, 112, 126, 0));
            }
        }

        .info-label {
            font-size: 14px;
            color: #8e8e93;
        }

        .info-value {
            font-size: 24px;
            line-height: 31px;
            color: #fff;
        }

        @include media-breakpoint-down(md) {
            padding: 50px 0;

            .info-value {
                font-size: 16px;
                line-height: 24px;
            }
        }

        @include media-breakpoint-down(lg) {
            .department-info {
                max-width: 80%;
            }

            .department-image {
                img {
                    aspect-ratio: unset;
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding: 50px 0;

            .department-info {
                max-width: unset;
            }

            button {
                padding: 8px 24px;
            }

            .department-image {
                margin-top: 2rem;
            }
        }
    }

    .department-general-info {
        padding: 120px 0;

        .info-label {
            font-size: 14px;
            color: #8e8e93;
        }

        .info-value {
            font-size: 24px;
            line-height: 31px;
        }

        .department-info {
            max-width: 80%;
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 50px 0;

            .info-value {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .banner-2-department {
        background: url("../images/banner/banner-2-department.png") no-repeat;
        width: 100%;
        background-size: cover;
        aspect-ratio: 3/1;
        height: 500px;
    }

    .department-facilities {
        padding: 120px 0;

        .facilities-label {
            margin-bottom: 3.5rem;
            text-align: center;
        }

        .icon-info {
            width: 100px;
            height: 100px;
            margin-bottom: 2rem;
        }

        .facilities-item {
            font-size: 24px;
            line-height: 31px;
        }

        @include media-breakpoint-down(md) {
            padding: 50px 0;

            .icon-info {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
            }

            .facilities-item {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    .department-facilities-md {
        padding: calc(30px + 3vw) 0;

        .facilities-padding {
            @include media-breakpoint-up(lg) {
                padding-left: 10%;
            }
        }
        
        .facilities-grid {
            grid-template-columns: repeat(2, 200px);
            grid-row-gap: 1.5rem;
            .icon-info {
                width: 50px;
                height: 50px;
            }
            @include media-breakpoint-down(lg) {
                grid-template-columns: 50% 50%;
            }
        }
    }

    .department-galary {
        padding: 4.5rem 0;
        background: #f8f9f9;
    }

    .department-image-wrapper {
        .image-card-department {
            position: relative;
            .ratio {
                --bs-aspect-ratio: 36%;
            }
            .card-body {
                opacity: 0;
                transition: opacity .3s;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                max-width: 350px;
                background-color: rgba(29, 41, 63, 0.9);
                clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
                background-blend-mode: darken;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 13% 0 7%;
                .card-title {
                    color: #fff;
                }
                .description {
                    color: #BFBFBF;
                }
            }
            &:hover {
                .card-body {
                    opacity: 1;
                }
            }
        }
    }
}