$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px,
) !default;
$border-color: #e5e7e9;
$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1340px,
  xxl: 1600px,
);
@media screen and (max-width: 576px) {
  $font-size-base: 0.875rem;
}
$text-color: "#1d293f";
$font-size-base: 1rem;
$font-family-sans-serif: "Inter";
$font-family-serif: "Inter";
$link-color: mix(#1d293f, #1d293f);
$theme-colors: (
  "black": #000000,
  "ahd-primary": #0e1e8e,
  "ahd-secondary": #e5e7e9,
  "ahd-success": #00c199,
  "ahd-red": #ee4034,
  "ahd-blue": #0d6efd,
  "ahd-black": #333333,
);
